/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

.c-slack-signup__field {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  display: inline-block;
  outline: none;
  padding: 0.5em 0.5em;
}

.c-slack-signup__label {
  margin-right: 1em;
}

.c-slack-signup__button {
  color: black;
  border: 2px solid black;
  border-left: none;
  padding: 0.5em 0.5em;
}

.c-slack-signup__field::placeholder {
  color: black;
}
